* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.parent {
    display: inline-block;
    border-radius: 30px;
    width: 750px;
    height: 650px;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    background-color: purple;
}

.child1 {
    border-radius: 10px;
    margin: 150px;
    width: 50px;
    height:400px ;
    position: absolute;
    background-color: #fff;
}

.child2{
    border-radius: 10px;
    margin-left: 50px;
    margin-top:500px ;
    width: 150px;
    height: 50px;
    position: absolute;
    background-color: #fff;
}

.child3 {
    width: 50px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    margin-top: 150px;
    margin-left: 250px;
}

.child4{
    width: 50px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    margin-top: 150px;
    margin-left: 450px;
}

.child5 {
    width: 170px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    margin-top:150px ;
    margin-left:480px ;
}

.child6{
    border-radius: 10px;
    width: 30px;
    height:340px ;
    position: absolute;
    background-color: #fff;
    margin-top:180px ;
    margin-left:640px ;
}

.child7 {
    border-radius: 10px;
    width: 175px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    margin-top:500px ;
    margin-left:485px ;
}

.child8 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 150px;
    border-radius: 10px;
}

.child9 {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    background-color: #fff;
    margin-top:500px;
    margin-left:280px ;
}
